body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    min-height: 90vh;
    padding-bottom: 50px;
}

.products h2 {
    margin-bottom: 20px;
    color: #0ed948;
    font-family: Creepster;
    text-transform: uppercase;
    font-weight: 700;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #1A1A2E;
    border: 2px solid #abaead; 
    border-radius: 10px;
    width: 250px;
    height: 400px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 194, 0.3); 
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 255, 194, 0.7); 
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h4 {
    color: #ffffff;
    font-size: 1.2em;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-grow: 1;
}

.product-card p {
    color: #C0C0C0;
    font-size: 0.9em;
    margin: 10px 0;
}

.product-button {
    background-color: #00FF5E; /* Verde acorde al tema */
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: auto;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    width: 80%;
    align-self: center;
}

.product-button:hover {
    background-color: #00FFC2; 
    box-shadow: 0 0 10px #00FFC2; 
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00FFC2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s;
}

.add-to-cart-button:hover {
    background-color: #00FF5E;
    box-shadow: 0 0 10px #00FF5E;
}
